.login {
    background-color: #082767;
    background-image: url("../../assets/img/login-background.jpeg");
    height: 100%;
}

.panel{
    margin: 0 auto;
    padding: 30px;
    width: 30%;
    background-color: #FFF;
}

.panel-content {
    text-align: center;
}

.signin {

    
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.forgot {
    margin-top: 10px;
    text-align: right;
}