<div class="login">
  <div style="height: 10%;"></div>
  <div class="panel">

    <div class="panel-content">
      <h1>UniNote</h1>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Sign In">
          <div class="signin">
            <h2>Login into your account</h2>
            <form>
              <mat-form-field>
                <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary">Primary</button>

              <div class="forgot">
                  <a  >Forgot password?</a>
              </div>
              
              
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="signup">
            Sign Up
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>